/** @format */

body {
	background-color: #e7e4de;
}

.category-btn {
	width: 100px;
	background-color: #aaac48;
	font-size: 1.2em;
	margin: 1em 1em 2em 1em;
	border-radius: 5px;
	padding: 0.5em;
	color: white;
	border-color: white;
	justify-content: center;
	cursor: grab;
}
